@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
header {
  position: relative;
  overflow: hidden;
  padding: 3rem 2rem 5rem 2rem;
  background-image: url("../images/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: -15rem -9rem;
  border-bottom-left-radius: 80px 90px;
  color: white;
}

header::before {
  position: absolute;
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to Bottom, #ff8f70, #ff3d54);
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

header .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .logo {
  width: 90px;
}

header .header .logo img {
  width: 100%;
}

header .header #mobileMenu {
  margin: 0 auto;
  width: 90%;
  position: fixed;
  content: "";
  top: 7rem;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  max-height: 0px;
  -webkit-box-shadow: 0px 10px 20px -5px gray;
          box-shadow: 0px 10px 20px -5px gray;
  -webkit-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
  overflow: hidden;
}

header .header #mobileMenu.openedMenu {
  max-height: 800px;
}

header .header #mobileMenu .navBar {
  margin: 2rem;
}

header .header #mobileMenu .navBar nav button {
  position: relative;
  margin: 1rem;
  border: none;
  font-family: "Overpass", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: transparent;
  color: #25252d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header #mobileMenu .navBar nav button:hover {
  cursor: pointer;
  color: red;
}

header .header #mobileMenu .navBar nav button::after {
  position: absolute;
  content: url("../images/icon-arrow-dark.svg");
  top: 0;
  right: -15px;
}

header .header #mobileMenu .navBar nav button.rotate::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .header #mobileMenu .navBar nav .links {
  max-height: 0px;
  background-color: lightgray;
  border-radius: 8px;
  -webkit-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
  overflow: hidden;
}

header .header #mobileMenu .navBar nav .links.openSubMenu {
  max-height: 500px;
}

header .header #mobileMenu .navBar nav .links a {
  display: block;
  margin: 1rem 0;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: #4b5862;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header #mobileMenu .navBar nav .links a:hover, header .header #mobileMenu .navBar nav .links a:focus {
  cursor: pointer;
  color: red;
}

header .header #mobileMenu .navBar nav .links a:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  color: #1f3f5b;
  text-decoration: underline;
}

header .header #mobileMenu .loginBar {
  margin: 1rem 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid lightgray;
}

header .header #mobileMenu .loginBar #btnLogin {
  color: black;
  font-family: "Overpass", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header #mobileMenu .loginBar #btnLogin:hover {
  cursor: pointer;
  color: red;
}

header .header #mobileMenu .loginBar #btnLogin:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  color: #1f3f5b;
  text-decoration: underline;
}

header .header #mobileMenu .loginBar #btnSignUp {
  margin: 1rem;
  width: 150px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to Right, #ff8f70, #ff3d54);
  border: none;
  border-radius: 25px;
  font-size: 1.3rem;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header #mobileMenu .loginBar #btnSignUp:hover, header .header #mobileMenu .loginBar #btnSignUp:focus {
  cursor: pointer;
  text-decoration: underline;
}

header .header #mobileMenu .loginBar #btnSignUp:active {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  color: #1f3f5b;
}

header #mobileMenuBtn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

header #mobileMenuBtn.isOpen {
  background-image: url("../images/icon-close.svg");
}

header h1 {
  margin-top: 6rem;
  font-size: 2.2rem;
  text-align: center;
  color: white;
}

header p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

header .flexWrapper {
  margin: 3rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .flexWrapper #btnStart {
  color: #ff525d;
  background-color: white;
  width: 140px;
  height: 50px;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .flexWrapper #btnStart:hover, header .flexWrapper #btnStart:focus {
  cursor: pointer;
  border-color: #ff525d;
  background-color: #ff525d;
  color: white;
}

header .flexWrapper #btnStart:active {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  background-color: #1f3f5b;
  border-color: #1f3f5b;
}

header .flexWrapper #btnLearn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .flexWrapper #btnLearn:hover, header .flexWrapper #btnLearn:focus {
  cursor: pointer;
  border-color: white;
  background-color: white;
  color: #ff525d;
}

header .flexWrapper #btnLearn:active {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  background-color: #1f3f5b;
  border-color: #1f3f5b;
}

section#top {
  padding: 5rem 2rem;
}

section#top h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
}

section#top .img {
  margin: 0 auto;
  max-width: 410px;
  height: 340px;
  background-image: url("../images/illustration-editor-mobile.svg");
  background-position: center;
  background-size: cover;
}

section#top .textBlock {
  text-align: center;
}

section#top .textBlock h3 {
  margin-top: 2.2rem;
  font-size: 2rem;
}

section#top .textBlock p {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 25px;
}

@media screen and (min-width: 40rem) {
  section#top {
    margin: 5rem;
  }
  section#top .img {
    background-image: url("../images/illustration-editor-desktop.svg");
  }
}

@media screen and (min-width: 50rem) {
  section#top {
    margin: 7rem;
  }
}

@media screen and (min-width: 64rem) {
  section#top {
    position: relative;
    margin-right: 0;
    overflow: hidden;
  }
  section#top h2 {
    margin-bottom: 6rem;
  }
  section#top .img {
    margin: 0;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 75% 100%;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
    height: unset;
    max-width: unset;
  }
  section#top .textBlock {
    margin-right: 55%;
    text-align: left;
  }
  section#top .textBlock h3 {
    font-size: 1.5rem;
  }
  section#top .textBlock p {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 64rem) {
  section#top .textBlock {
    margin-right: 60%;
  }
}

section#middle {
  position: relative;
  margin-top: 17rem;
}

section#middle::before {
  position: absolute;
  content: "";
  background-image: url("../images/illustration-phones.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -14rem;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 5;
}

section#middle .overflowWrapper {
  position: relative;
  padding: 13rem 3rem 4rem 3rem;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #393a58;
  border-bottom-left-radius: 80px 90px;
  border-top-right-radius: 80px 90px;
}

section#middle .overflowWrapper .imgBgSvg {
  position: absolute;
  background-image: url("../images/bg-pattern-circles.svg");
  background-size: 115%;
  background-position: bottom center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 9rem;
  z-index: 0;
}

section#middle .overflowWrapper h2 {
  position: relative;
  font-size: 2rem;
  color: white;
}

section#middle .overflowWrapper p {
  position: relative;
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 20px;
  color: white;
}

@media screen and (min-width: 40rem) {
  section#middle::before {
    top: -12rem;
  }
  section#middle .overflowWrapper {
    padding: 13rem 6rem 4rem 6rem;
  }
  section#middle .overflowWrapper .imgBgSvg {
    bottom: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  section#middle {
    margin-top: 10rem;
  }
  section#middle::before {
    background-position: left;
    top: -4rem;
    left: 3rem;
    height: 144%;
    width: 100;
    bottom: 0;
  }
  section#middle .overflowWrapper {
    padding: 5rem 7rem 5rem 30rem;
    text-align: left;
  }
  section#middle .overflowWrapper .imgBgSvg {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 61%;
    left: -10rem;
    bottom: -7rem;
  }
}

@media screen and (min-width: 80rem) {
  section#middle::before {
    left: 6rem;
  }
  section#middle .overflowWrapper {
    padding: 6rem 7rem 6rem 38rem;
  }
}

section#bottom {
  margin: 5rem 2rem;
}

section#bottom .img {
  height: 340px;
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#bottom .textBlock {
  text-align: center;
}

section#bottom .textBlock h3 {
  margin-top: 2.2rem;
  font-size: 2rem;
}

section#bottom .textBlock p {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 25px;
}

@media screen and (min-width: 35rem) {
  section#bottom .img {
    height: 377px;
    background-image: url("../images/illustration-laptop-desktop.svg");
  }
}

@media screen and (min-width: 40rem) {
  section#bottom {
    margin: 4rem;
    margin-bottom: 5rem;
  }
  section#bottom .img {
    background-size: contain;
  }
}

@media screen and (min-width: 64rem) {
  section#bottom {
    margin-left: 0;
    margin-right: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#bottom .img {
    height: 446px;
    background-position: right;
    background-size: 100% 100%;
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  section#bottom .textBlock {
    text-align: left;
    padding-right: 6rem;
  }
  section#bottom .textBlock h3 {
    font-size: 1.5rem;
  }
  section#bottom .textBlock p {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 80rem) {
  section#bottom .textBlock {
    padding-right: 10rem;
  }
}

footer {
  padding: 4rem;
  background-color: #25252d;
  border-top-right-radius: 80px 90px;
  text-align: center;
}

footer img {
  height: 45px;
}

footer nav ul li {
  margin-top: 1.5rem;
  color: white;
}

footer nav ul li h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

footer nav ul li a {
  color: #c8c8cb;
}

footer nav ul li a:hover, footer nav ul li a:focus {
  cursor: pointer;
  border-bottom: 1px solid #c8c8cb;
}

footer nav ul li a:active {
  color: #ff7a85;
  border-color: #ff7a85;
}

@media screen and (min-width: 40rem) {
  footer {
    padding: 3rem 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "logo product" "company connect";
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    justify-items: center;
    row-gap: 2rem;
  }
  footer img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    height: 35px;
  }
  footer nav {
    text-align: left;
  }
  footer nav ul li {
    margin-top: 0;
    line-height: 30px;
  }
  footer nav ul li h4 {
    margin-top: 0;
  }
  footer nav:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: product;
  }
  footer nav:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: company;
  }
  footer nav:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: connect;
  }
}

@media screen and (min-width: 64rem) {
  footer {
    padding: 4rem 8rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo product company connect";
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #1f3f5b;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a,
h4,
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h4 {
  font-weight: 500;
}

button {
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.overflowHidden {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */