@import "fonts";
@import "mixins";
@import "variables";



//     font-family: 'Overpass', sans-serif; 3 6
//     font-family: 'Ubuntu', sans-serif; 4 5 7


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}